:root {
  --background-black: #000;
  --background-dark: #232323;
  --background-light: #fcfbf9;
  --background-white: #fff;
  --color-accent: #ff3400;
  --color-body: #918ca4;
  --color-gray: #b9c3cf;
  --color-headings: #1b0760;
  --color-lightgray: #f3f9fa;
  --color-primary: #2584ff;
  --color-purple: #210e6b;
  --color-secondary: #00d9ff;
}
