    <blockquote class='quote'>
      <p class='quote__text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatem quia dolor labore aliquid repudiandae fugit porro molestias harum placeat, quae blanditiis. Impedit, autem rem perspiciatis dolorem dicta laudantium! Eius voluptates omnis quo hic ipsa cupiditate voluptate ipsam recusandae inventore accusantium saepe repellendus nisi impedit, tempora earum maxime nulla nam?</p>
      <footer class=''>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h1>
              <p class="media__text quote__company">ABC Components</p>
          </div>
        </div>
      </footer>
    </blockquote>